<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Coffee Shop website</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <header>
      <img id="logo" src="/images/Brewed_Awake.png" alt="Logo" /><br />
      <nav>
        <a href="#start">Start Trading</a>
        <a href="#login">Login</a>
        <a href="#signup">Sign up</a>
      </nav>
      <br /><br /><br />
      <hr />
      <div>Trades</div>
    </header>
  </body>
</html>
