</div>
<footer class="footer-container">
  <div>&copy; Brewed Awakening &nbsp;</div>
  <div class="footer-nav-container">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
  </footer>
</body>
</html>
