<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Coffee Shop website</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header class="header-container">
      <div class="logo">
        <a href= "/"><img id="logo" src="/images/Coffee_Cup.png" alt="Logo"></a>
        <!-- <div class="header-text">Brewed Awakening</div> -->
      </div>
      <div class="nav-container">
        <nav>
          <a href="http://localhost:3000/newTrade">Start Trading!</a>
          <a href="#login">Login</a>
          <a href="#signup">Sign up</a>
        </nav>
      </div>
    </header>
    <div>
      <nav>
        <a href="http://localhost:3000/trades">Trades</a>
      </nav>
    </div>
    <div class="page-content">
</html>
