<footer>
    <nav>
      &copy; Brewed Awakening &nbsp;
      <a href="index.html">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </footer>
</body>
</html>
