<%- include('./partials/header.ejs')%>
<h1>Light Roast</h1>

<p>
  Light roast coffee beans are heated at a lower temperature reaching 385 to 410
  degrees and for a shorter period of time than medium and dark roast beans.
  <!--(The Coffee Bean &amp; Tea Leaf, 2022)-->

  The beans will "pop" or "crack" when they reach the desired temperature which
  indicates they are ready to be removed
  <!--(The Coffee Bean &amp; Tea Leaf, 2022)-->. Their outer shell will crack as
  the beans expand in the roaster
  <!--(The Coffee Bean &amp; Tea Leaf, 2022)-->. These beans will only crack
  once due to cooler internal temperatures than their dark-colored couterparts
  <!--(The Coffee Bean &amp; Tea Leaf, 2022)-->

  Light roast coffee beans are the highest in caffeine content, acidic, and
  having a toasted grain or grassy taste.
  <!--From light to extra bold: How to pick the perfect roast(n.d.)-->
</p>

<img
  id="light"
  src="https://hips.hearstapps.com/delish/assets/17/24/1497559834-gettyimages-153328331.jpg"
  alt="Cinnamon Roast Coffee Beans"
  width="500"
  height="600"
/>

<h2>Try our Cinnamon Roast Coffee Beans!</h2>

<p id="cinnamon">
  Our Cinnamon roast coffee beans are not to be confused with cinnamon-flavoured
  coffee.
  <!--(Pavoni, 2021)-->
  The coffee beans have a light brown color due to being taken out of the
  roaster early in first crack.
  <!--(Pavoni, 2021)-->
  Because of its roasting process, it has a grassy and highly acidic taste when
  brewed.
  <!--(Pavoni, 2021)-->
</p>
<%- include('./partials/footer.ejs')%>

<!-- References

The Coffee Bean &amp; Tea Leaf. (2022, January 1). Light roast vs dark Roast: The differences revealed. 
    Super Magnificient Coffee Company Ireland Limited. 
    https://www.coffeebean.com/blog/our-coffee/light-roast-vs-dark-roast-differences-revealed 

From light to extra bold: How to pick the perfect roast. (March 28). Charlie Bean.
    https://www.charliebean.com/blogs/sips-blog/from-light-to-extra-bold-how-to-pick-the-perfect-roast 

Pavoni, M. (2021, September 23). Coffee roasting basics: What is a cinnamon roast? MTPak Coffee.
    https://www.mtpak.coffee/2021/09/cinnamon-roast-coffee/-->
