<%- include('./partials/header.ejs')%>

<div class="home-content">
  <img src="images/BATextColor.png" alt="You're in for a Brewed Awakening!" />
  <h2>Try out our line of coffees!</h2>
</div>
<%- include('./partials/footer.ejs')%>
