<%- include('./partials/header.ejs')%>

<div class="new-trade-container">
  <div class="new-trade-title">
    <h1>Start Trading</h1>
    <p>Fill out the form below to start trading!</p>
  </div>
  <div class="new-trade-form">
    <form action="/action_page.php">
      <label for="roast">Roast Type</label><br />
      <input type="text" id="roast" name="roast" value="" /><br /><br />
      <label for="name">Coffee Name</label><br />
      <input type="text" id="name" name="name" value="" /><br /><br />
      <label for="quantity">Quantity</label><br />
      <input type="number" id="quantity" name="quantity" value="" /><br /><br />
      <input type="submit" value="Create Trade" /><br />
    </form>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
