<%- include('./partials/header.ejs')%>
<img
  id="roast"
  src="https://tastethelatte.com/wp-content/uploads/2022/09/ODT-Home-Page-Images-38.png"
  alt="Light, Medium, Dark Roast Coffee beans"
  width="500"
  height="600"
/>

<h1>Light</h1>
<ul>
  <li>Cinnamon</li>
  <li>New England</li>
  <li>Half City</li>
</ul>

<h1>Medium</h1>
<ul>
  <li>American</li>
  <li>City</li>
  <li>Breakfast</li>
</ul>

<h1>Dark roast</h1>
<ul>
  <li>French</li>
  <li>Italian</li>
  <li>Spanish</li>
</ul>
<%- include('./partials/footer.ejs')%>
