header {
  display: block;
  background-color: darkred;
  padding: 15px 100px 10px 20px;
  color: antiquewhite;
}

#logo {
  height: 500px;
  width: auto;
  padding: 1px;
}

header a {
  text-align: right;
  font-size: 18px;
  padding: 10px;
  color: antiquewhite;
  float: right;
}

hr {
  border-top: 1px solid #bbb;
}

body {
  display: block;
  background-color: antiquewhite;
  color: rgb(127, 66, 66);
}

#roast {
  float: inherit;
}

#light {
  float: right;
}
#cinnamon {
  float: left;
}

body img {
  height: auto;
  width: 500px;
}

body a {
  display: block;
  background-color: darkred;
  padding: 15px 100px 10px 20px;
  color: antiquewhite;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 22px;
  padding: 10px;
  color: darkred;
}

footer {
  display: block;
  background-color: darkred;
  padding: 20px;
  color: antiquewhite;
  margin: 150px 0.45px 3px 0.45px;
}

footer a {
  display: inline;
  font-size: 18px;
  padding: 5px;
  color: antiquewhite;
}
