header {
  display: block;
  background-color: darkred;
  padding: 15px 100px 10px 20px;
  color: antiquewhite;
}

#logo {
  height: 250px;
  width: auto;
  padding: 1px;
}

header a {
  text-align: center;
  font-size: 18px;
  padding: 12px;
  color: antiquewhite;
  float: right;
}

hr {
  border-top: 1px solid #bbb;
}

main {
  display: block;
  background-color: antiquewhite;
  padding-bottom: 20px;
  color: rgb(127, 66, 66);
}
body {
  background-color: antiquewhite;
  padding-bottom: 50px;
  color: rgb(127, 66, 66);
  display: block;
}

#roast {
  float: inherit;
}

#light {
  float: right;
}

body img {
  height: auto;
  width: 500px;
}

ul {
  list-style-type: none;
}

footer {
  display: block;
  background-color: darkred;
  padding: 20px;
  color: antiquewhite;
  margin-bottom: -50px;
}

footer a {
  display: inline;
  font-size: 18px;
  padding: 5px;
  color: antiquewhite;
}
